# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*$py.class

# ======================
# Entornos virtuales
# ======================
venv/
env/
.venv/

# ======================
# Archivos del sistema
# ======================
.DS_Store
Thumbs.db

# ======================
# IDEs
# ======================
.vscode/
.idea/

# ======================
# Jupyter
# ======================
.ipynb_checkpoints/

# ======================
# Logs
# ======================
*.log

# ======================
# Variables de entorno
# ======================
.env
.env.*
